@charset "utf-8";
html {
}
body {
}
/* header */
header {
    background: #186ac9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
    height: 400px;
}
#container {
    flex: 0 0 80%;
}


.inner {
    padding: 0 20px 0;
}

/* header----------------------------------------------------------- */
#head {
    display: flex;
    padding: 20px 0;
}

.header_left {
    align-items: center;
    margin-right: auto;
}

.atlas_log {
}
.atlas-log a img {
    width: 200px;
}

.header_right {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_right :nth-child(-n + 3) {
    margin-right: 20px;
}

.header_right p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.arrow {
    position: relative;
    display: inline-block;
    width: 29px;
    height: 16px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.arrow_items {
    display: none;
    background: #ffffff;
    position: absolute;
    right: 0;
    width: 100%;
}
.arrow_items ul {
    display: inline;
}
.arrow_items ul li {
    padding: 20px 0;
    text-align: center;

    border-bottom: #727272 solid;
}
.arrow_items ul li a {
    color: #727272;
    font-size: 1.3em;
}
.arrow::before,
.arrow::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 1px);
    width: 3px;
    height: 22px;
    border-radius: 9999px;
    background-color: #ffffff;
    transform-origin: 50% calc(100% - 1px);
}

.arrow::before {
    transform: rotate(45deg);
}

.arrow::after {
    transform: rotate(-45deg);
}

.rotate {
    transform: rotateX(180deg);
}

/* 投稿フォームーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

.form_group {
    padding: 40px 0 20px 100px;
    display: flex;

    height: auto;
    border-bottom: #c7c7c7 5px solid;
}

.form_group img {
    height: 64px;
    width: 64px;
}

.form_control {
    border: none;
    margin: 0 0 0 20px;
    font-size: 1.5em;
    width: 70%;
}

.form_control::placeholder {
}



.btn img {
    border-radius: 3px;
    width: 50px;
    height: auto;
}
